@import "variables";
@import 'mixins';

.data-grid-inline-checkbox-wrapper {
  @include flexbox(inline-flex);
  margin-right: 1rem;
}

.data-grid-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  visibility: hidden;

  &:checked ~ .data-grid-label::before {
    background-color: $c-primary;
    border-color: $c-primary;
  }

  &:active ~ .data-grid-label::before {
    color: #fff;
    background-color: $c-primary;
    border-color: $c-primary;
  }

  &:disabled {
    ~ .data-grid-label {
      color: #b9b9b9;

      &::before {
        background-color: #7895D5;
      }
    }
  }

}

.data-grid-label {
  margin-bottom: 0;
  display: block;
  position: relative;
  line-height: 1;

  &:after {
    display: block;
    position: absolute;
    left: 0;
  }

  // Background-color and (when enabled) gradient
  &::before {
    width: ($size-l - 2);
    height: ($size-l - 2);
    pointer-events: none;
    content: '';
    user-select: none;
    background-color: #fff;
    border: 1px solid $border-color;
    display: inline-block;
    border-radius: 2px;
  }

  &:hover {
    cursor: pointer;
    background-color: transparent;
  }
}

.data-grid-checkbox {

  .data-grid-input:checked ~ .data-grid-label {
    &::after {
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      content: "\e5ca";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      font-family: 'Material Icons';
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
      font-weight: 600;
      speak: none;
      font-variant: normal;
      line-height: 1;
      color: #fff;
      font-size: .8rem;
    }
  }

}
