/* COLORS */
$c_primary: #2659C5;
$c_primary_faded: rgba(38, 89, 197, 0.1);
$border-color: #E6ECF8;
$border-color-hover: #102E54;
$text-color: #102E54;
$header-color: #F7F8F9;
$text-color-light: #9FB0C5;

/* Buttons */
$button-height: 45px;

/* Inputs */
$input-height: 45px;

/* Spacing */
$size-xs: 5px;
$size-s: 10px;
$size-m: 15px;
$size-l: 20px;
$size-xl: 25px;
$size-xxl: 30px;

/* Grid Variables */
$header-height: 50px;
$row-height: 60px;
$cell-padding: 0 $size-l;
