<ngrx-data-grid
  [gridName]="gridName"
  [config]="config"
  (openDetails)="onOpenDetails($event)">
</ngrx-data-grid>
<label for="userId">For user with id: </label>
<input id="userId" type="text" #userId/>
<label for="updateMail">update the mail:</label>
<input id="updateMail" type="text" #updatedMail/>
<button (click)="onUpdateMailOfFirstElement(updatedMail.value, userId.value)">Update mail</button>
<br/>
<button (click)="onInitialize()">Initialize</button>
<br/>
<button (click)="onResetGridState()">Reset Grid State</button>
<br/>
<button (click)="initializeWithCheckboxSelection()">Checkbox Selection</button>
<br/>
<button (click)="initializeWithRadioSelection()">Radio button Selection</button>
