@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@import '~material-design-icons/iconfont/material-icons.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica sans-serif;

  &:focus {
    outline: none;
  }

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #4b5154;
}